@model DatePrinter.Web.Models.Classes.Tmp?

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Print">
            <div class="form-group">
                @Model.Name | @Model.Category
            </div>
            <div class="form-group">
                @* <button class="btn btn-lg btn-danger"> *@
                @*     @Html.ActionLink("NOW", "Print", new { id = Model.Id, dateTime = DateTime.Now }) *@
                @* </button> *@
                @* <button class="btn btn-lg btn-danger"> *@
                @*     @Html.ActionLink("NOW", "Print", new { id = Model.Id, dateTime = DateTime.Now }) *@
                @* </button> *@
                @Html.ActionLink("Teraz", "Print", new { id = Model.Id, dateTime = DateTime.Now })
                @Html.ActionLink("Wybierz Date", "Print", new { id = Model.Id, dateTime = new DateTime(2023, 9, 14, 9, 44, 0) })
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>